<!-- ##############  MODALS ################### -->
<!-- Mensaje -->
<div class="modal" id="msjModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msjModalTitle"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="msjModalSubTitle"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Message -->
<div
  class="modal fade"
  id="modalMsj"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius: 0px">
      <div class="modal-header" style="border: 0">
        <h5 class="modal-title" id="messageTitle"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="messageBody"></div>
      <div class="modal-footer" style="border: 0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ##############  FOOTER ################### -->
<footer class="bkGray" style="min-height: 250px">
  <div class="row">
    <div class="col-sm">
      <div class="social-icons mt-lg-4 mt-md-4 mt-3 text-center">
        <ul>
          <li><a href="#" class="white bold">¿Necesitas ayuda?</a></li>
        </ul>
      </div>
      <div class="bottem-wthree-footer pt-md-4 pt-3" style="margin-left: 10%">
        <font class="white bold">
          <i class="fa fa-map-marker"></i> Nuestras Sedes
        </font>
        <br />
        <font class="white" style="font-size: 12px">
          <div style="margin-left: 5%">
            Cóntactanos de lunes a viernes <br />
            de 8:00 a 17:00 horas
          </div>
        </font>
      </div>
    </div>
    <div class="col-sm">
      <div class="social-icons mt-lg-4 mt-md-4 mt-3 text-center">
        <ul>
          <li><a href="#" class="white">Siguenos</a></li>
          <br /><br />
          <li>
            <a href="#"
              ><span
                class="fa fa-facebook iconMobile"
                style="color: #ffffff63"
              ></span
            ></a>
          </li>
          <li>
            <a href="#"
              ><span
                class="fa fa-twitter iconMobile"
                style="color: #ffffff63"
              ></span
            ></a>
          </li>
          <li>
            <a href="#"
              ><span
                class="fa fa-linkedin iconMobile"
                style="color: #ffffff63"
              ></span
            ></a>
          </li>
          <li>
            <a href="#"
              ><span
                class="fa fa-envelope iconMobile"
                style="color: #ffffff63"
              ></span
            ></a>
          </li>
          <!-- <li>
          <a href="#"
            ><span
              class="fa fa-instagram iconMobile"
              style="color: #ffffff63;"
            ></span
          ></a>
        </li> -->
        </ul>
      </div>
      <!--//move icon -->
    </div>
    <div class="col-sm">
      <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
        <p class="white">
          Creado por Jonnatan Gomez <br />
          © 2020, todos los derechos reservados
        </p>
      </div>
      <!-- move icon -->
      <div class="text-center">
        <a href="#home" class="move-top text-center mt-3"
          ><i class="fa fa-arrow-up" aria-hidden="true"></i
        ></a>
      </div>
      <!--//move icon -->
    </div>
  </div>
</footer>
<script type="application/javascript">
  function validateSession(data) {
    if (data.status == "tokenError" || sessionGlb == false) {
      closeSession();
    }
  }

  function closeSession() {
    sessionStorage.setItem("idPais", null);
    sessionStorage.setItem("token", null);
    sessionStorage.setItem("session", null);
    paisGlb = null;
    window.location.replace("./");
  }
  function goToMain() {
    window.location.replace("./");
  }
  function goToLogin() {
    window.location.replace("./login.ejs");
  }
  function msjGlb(title, body, type) {
    $("#messageTitle").html(title);
    $("#messageBody").html(body);
    $("#modalMsj").modal("show");
  }
</script>
<!-- ############## TOOLS ################### -->
<script type="application/javascript">
  //TOOLS
  function getFormData($form) {
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function (n, i) {
      indexed_array[n["name"]] = n["value"];
    });

    return indexed_array;
  }

  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return "";
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  function loading(show) {
    if (show) {
      $("#loading").show();
    } else {
      $("#loading").hide();
    }
  }
</script>
<script type="text/javascript">
  !(function (a) {
    a.fn.datepicker.dates.es = {
      days: [
        "Domingo",
        "Lunes",
        "Martes",
        "Miércoles",
        "Jueves",
        "Viernes",
        "Sábado",
      ],
      daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
      daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ],
      monthsShort: [
        "Ene",
        "Feb",
        "Mar",
        "Abr",
        "May",
        "Jun",
        "Jul",
        "Ago",
        "Sep",
        "Oct",
        "Nov",
        "Dic",
      ],
      today: "Hoy",
      monthsTitle: "Meses",
      clear: "Borrar",
      weekStart: 1,
      format: "dd/mm/yyyy",
    };
  })(jQuery);
  $(".datepicker").datepicker({
    autoclose: true,
    language: "es",
  });
</script>
