<div class="loading" id="loading" style="display: none">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <br />
  <h2 class="gray arial bold">Cargando...</h2>
</div>
<div id="home">
  <!-- header -->
  <div class="container headder-top bkWhite col" style="z-index: 100">
    <!-- nav -->
    <nav>
      <div id="logo">
        <h1>
          <a href="./">
            <img
              src="https://www.fuentelife.net/wp-content/uploads/2019/09/Logotipo-Hugo4-1.png"
              alt="logo"
              class="img-fluid logoHeader"
            />
            <font class="fontLittle gris">Prueba Técnica - </font>
            <font class="fontLittle azul">Developer</font>
          </a>
        </h1>
      </div>
      <label for="drop" id="dropBars" class="toggle" style="display: none">
        <i class="fa fa-bars"></i>
      </label>
      <input type="checkbox" id="drop" style="display: none" />
      <ul class="menu mt-2" id="menuSession" style="display: none">
        <li
          id="homeCandiMenu"
          class="mx-lg-3 mx-md-2 my-md-0 my-1 borderBootMobile"
          style="text-align: center"
        >
          <a href="./main.ejs">
            <i
              class="fa fa-home"
              aria-hidden="true"
              style="font-size: 38px; color: #38215c"
            ></i>
            <p class="azul arial" style="font-size: 15px">Inicio</p>
          </a>
        </li>
        <li
          id="homeCandiMenu"
          class="mx-lg-3 mx-md-2 my-md-0 my-1 borderBootMobile"
          style="text-align: center"
        >
          <a href="#" onclick="closeSession()">
            <i
              class="fa fa-sign-out"
              aria-hidden="true"
              style="font-size: 38px; color: #38215c"
            ></i>
            <p class="azul arial" style="font-size: 15px">Cerrar Sesión</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- //nav -->
  </div>
</div>
