<!DOCTYPE html>
<html lang="es">
  <!-- //Header -->
  <%- include('./head')-%>
  <!-- //Header -->
  <link
    href="./views/css/animate.css"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <body>
    <!-- //Header -->
    <%- include('./header')-%>
    <!-- //Header -->
    <div class="row col">
      <div class="wrapper fadeInDown">
        <div id="formContent" class="bkPurple">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <img src="../views/images/animado1.gif" id="icon" alt="User Icon" />
            <br /><br /><br />
          </div>

          <!-- Login Form -->
          <form id="loginFrm" method="POST">
            <input
              type="text"
              id="user"
              class="fadeIn second"
              name="user"
              placeholder="User"
            />
            <input
              type="text"
              id="pass"
              class="fadeIn third"
              name="pass"
              placeholder="Password"
            />
            <input type="submit" class="fadeIn fourth" value="Ingresar" />
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>

    <!-- //Footer -->
    <%- include('./footer')-%>
    <!-- //Footer -->
  </body>
</html>
